.content{
    margin: 0 auto;
    width:400px;
}
.box{
    font-family:微软雅黑;
    font-size: 18px;
}
.choice{
    font-family:微软雅黑;
    font-size: 18px;
    position: relative;
}
body{
    background:url("pictures/body_bg.jpg");
color: white;
}
label{
    color: #ff747d;
    font-family: 微软雅黑;
    font-weight: bold;
}
h3{
    font-family: 微软雅黑;
    font-weight: bold;

}
input{
   fit-position:top
}
li{
    list-style: none;
}
.Button1 {
    -moz-box-shadow: 3px 4px 0px 0px #288a0e;
    -webkit-box-shadow: 3px 4px 0px 0px #288a0e;
    box-shadow: 3px 4px 0px 0px #288a0e;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #2ceb5f), color-stop(1, #5cbf2a));
    background:-moz-linear-gradient(top, #2ceb5f 5%, #5cbf2a 100%);
    background:-webkit-linear-gradient(top, #2ceb5f 5%, #5cbf2a 100%);
    background:-o-linear-gradient(top, #2ceb5f 5%, #5cbf2a 100%);
    background:-ms-linear-gradient(top, #2ceb5f 5%, #5cbf2a 100%);
    background:linear-gradient(to bottom, #2ceb5f 5%, #5cbf2a 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2ceb5f', endColorstr='#5cbf2a',GradientType=0);
    background-color:#2ceb5f;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    border:1px solid #18ab29;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:17px;
    font-weight:bold;
    padding:10px 25px;
    text-decoration:none;
    text-shadow:0px 1px 0px #2f6627;
}
.Button1:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5cbf2a), color-stop(1, #2ceb5f));
    background:-moz-linear-gradient(top, #5cbf2a 5%, #2ceb5f 100%);
    background:-webkit-linear-gradient(top, #5cbf2a 5%, #2ceb5f 100%);
    background:-o-linear-gradient(top, #5cbf2a 5%, #2ceb5f 100%);
    background:-ms-linear-gradient(top, #5cbf2a 5%, #2ceb5f 100%);
    background:linear-gradient(to bottom, #5cbf2a 5%, #2ceb5f 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cbf2a', endColorstr='#2ceb5f',GradientType=0);
    background-color:#5cbf2a;
}
.Button1:active {
    position:relative;
    top:1px;
}
.Button2{
    -moz-box-shadow: 3px 4px 0px 0px #1564ad;
    -webkit-box-shadow: 3px 4px 0px 0px #1564ad;
    box-shadow: 3px 4px 0px 0px #1564ad;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #b47aff), color-stop(1, #378de5));
    background:-moz-linear-gradient(top, #b47aff 5%, #378de5 100%);
    background:-webkit-linear-gradient(top, #b47aff 5%, #378de5 100%);
    background:-o-linear-gradient(top, #b47aff 5%, #378de5 100%);
    background:-ms-linear-gradient(top, #b47aff 5%, #378de5 100%);
    background:linear-gradient(to bottom, #b47aff 5%, #378de5 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b47aff', endColorstr='#378de5',GradientType=0);
    background-color:#b47aff;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    border:1px solid #337bc4;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:17px;
    font-weight:bold;
    padding:10px 25px;
    text-decoration:none;
    text-shadow:0px 1px 0px #528ecc;
}
.Button2:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #b47aff));
    background:-moz-linear-gradient(top, #378de5 5%, #b47aff 100%);
    background:-webkit-linear-gradient(top, #378de5 5%, #b47aff 100%);
    background:-o-linear-gradient(top, #378de5 5%, #b47aff 100%);
    background:-ms-linear-gradient(top, #378de5 5%, #b47aff 100%);
    background:linear-gradient(to bottom, #378de5 5%, #b47aff 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#b47aff',GradientType=0);
    background-color:#378de5;
}
.Button2:active {
    position:relative;
    top:1px;
}
.Button3 {
    -moz-box-shadow: 3px 4px 0px 0px #9c2116;
    -webkit-box-shadow: 3px 4px 0px 0px #9c2116;
    box-shadow: 3px 4px 0px 0px #9c2116;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f03838), color-stop(1, #c62d1f));
    background:-moz-linear-gradient(top, #f03838 5%, #c62d1f 100%);
    background:-webkit-linear-gradient(top, #f03838 5%, #c62d1f 100%);
    background:-o-linear-gradient(top, #f03838 5%, #c62d1f 100%);
    background:-ms-linear-gradient(top, #f03838 5%, #c62d1f 100%);
    background:linear-gradient(to bottom, #f03838 5%, #c62d1f 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f03838', endColorstr='#c62d1f',GradientType=0);
    background-color:#f03838;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    border:1px solid #d02718;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:17px;
    font-weight:bold;
    padding:10px 25px;
    text-decoration:none;
    text-shadow:0px 1px 0px #810e05;
}
.Button3:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f03838));
    background:-moz-linear-gradient(top, #c62d1f 5%, #f03838 100%);
    background:-webkit-linear-gradient(top, #c62d1f 5%, #f03838 100%);
    background:-o-linear-gradient(top, #c62d1f 5%, #f03838 100%);
    background:-ms-linear-gradient(top, #c62d1f 5%, #f03838 100%);
    background:linear-gradient(to bottom, #c62d1f 5%, #f03838 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f03838',GradientType=0);
    background-color:#c62d1f;
}
.Button3:active {
    position:relative;
    top:1px;
}
.Button4 {
    -moz-box-shadow: -6px -5px 9px -1px #651e75;
    -webkit-box-shadow: -6px -5px 9px -1px #651e75;
    box-shadow: -6px -5px 9px -1px #651e75;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c123de), color-stop(1, #a20dbd));
    background:-moz-linear-gradient(top, #c123de 5%, #a20dbd 100%);
    background:-webkit-linear-gradient(top, #c123de 5%, #a20dbd 100%);
    background:-o-linear-gradient(top, #c123de 5%, #a20dbd 100%);
    background:-ms-linear-gradient(top, #c123de 5%, #a20dbd 100%);
    background:linear-gradient(to bottom, #c123de 5%, #a20dbd 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c123de', endColorstr='#a20dbd',GradientType=0);
    background-color:#c123de;
    -moz-border-radius:42px;
    -webkit-border-radius:42px;
    border-radius:42px;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:17px;
    padding:14px 11px;
    text-decoration:none;
}
.Button4:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #a20dbd), color-stop(1, #c123de));
    background:-moz-linear-gradient(top, #a20dbd 5%, #c123de 100%);
    background:-webkit-linear-gradient(top, #a20dbd 5%, #c123de 100%);
    background:-o-linear-gradient(top, #a20dbd 5%, #c123de 100%);
    background:-ms-linear-gradient(top, #a20dbd 5%, #c123de 100%);
    background:linear-gradient(to bottom, #a20dbd 5%, #c123de 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a20dbd', endColorstr='#c123de',GradientType=0);
    background-color:#a20dbd;
}
.Button4:active {
    position:relative;
    top:1px;
}

